.flows.json.backup
[{"id":"116704c1.2aeebb","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"87e8bbd9.9b7488","type":"http in","z":"116704c1.2aeebb","name":"","url":"/webhook","method":"post","upload":false,"swaggerDoc":"","x":140,"y":120,"wires":[["9278ee7a.39687","d169bebe.423ef"]]},{"id":"d169bebe.423ef","type":"debug","z":"116704c1.2aeebb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":110,"y":80,"wires":[]},{"id":"9278ee7a.39687","type":"http response","z":"116704c1.2aeebb","name":"","statusCode":"200","headers":{},"x":160,"y":160,"wires":[]},{"id":"9f05c756.bec1e8","type":"function","z":"116704c1.2aeebb","name":"","func":"if (msg.payload && msg.payload.callbak_query) {\n    msg.text = msg.payload.callbak_query.data;\n    msg.chat_id = msg.payload.callbak_query.from.id;\n}\n\nif (msg.payload && msg.payload.message) {\n    msg.text = msg.payload.message.text;\n    msg.chat_id = msg.payload.message.from.id;\n}\n\nmsg.originalMessage = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":120,"wires":[[]]},{"id":"546bd26.79bc02c","type":"switch","z":"116704c1.2aeebb","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":80,"wires":[[]]}]