.flows.json.backup
[{"id":"116704c1.2aeebb","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1783749d.eafb2b","type":"tab","label":"switch","disabled":false,"info":""},{"id":"fa8df506.b0c4c8","type":"tab","label":"Artist Menu","disabled":false,"info":""},{"id":"e6d2d53c.160948","type":"tab","label":"Actions with picture","disabled":false,"info":""},{"id":"d043a9c8.5c1ca8","type":"tab","label":"Contact with administrator","disabled":false,"info":""},{"id":"f13711e4.d179d","type":"dialogflowv2-token","name":"pdp-ira-bot-nqgr"},{"id":"87e8bbd9.9b7488","type":"http in","z":"116704c1.2aeebb","name":"","url":"/webhook","method":"post","upload":false,"swaggerDoc":"","x":140,"y":120,"wires":[["9278ee7a.39687","d169bebe.423ef","23f22653.75568a","64e07e7f.1a1b1"]]},{"id":"d169bebe.423ef","type":"debug","z":"116704c1.2aeebb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":110,"y":80,"wires":[]},{"id":"9278ee7a.39687","type":"http response","z":"116704c1.2aeebb","name":"","statusCode":"200","headers":{},"x":160,"y":160,"wires":[]},{"id":"9f05c756.bec1e8","type":"function","z":"116704c1.2aeebb","name":"","func":"if (msg.payload && msg.payload.callback_query) {\n    msg.text = msg.payload.callback_query.data;\n    msg.chat_id = msg.payload.callback_query.from.id;\n}\n\nif (msg.payload && msg.payload.message && msg.payload.message.contact) {\n    msg.text = msg.payload.message.contact.phone_number;\n    msg.chat_id = msg.payload.message.from.id;\n} else if (msg.payload && msg.payload.message && msg.payload.message.photo) {\n    msg.text = msg.payload.message.photo[2].file_id;\n    msg.chat_id = msg.payload.message.from.id;\n} else if (msg.payload && msg.payload.message) {\n    msg.text = msg.payload.message.text;\n    msg.chat_id = msg.payload.message.from.id;\n}\n\n\nmsg.originalMessage = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":120,"wires":[["2aaa4844.41c3e8","e79a1030.78e18"]]},{"id":"2aaa4844.41c3e8","type":"debug","z":"116704c1.2aeebb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":870,"y":40,"wires":[]},{"id":"e79a1030.78e18","type":"function","z":"116704c1.2aeebb","name":"","func":"msg.url = \"http://localhost:3001/user\";\nmsg.method = \"POST\";\nmsg.payload = {\n    //lang: msg.lang,\n    chat_id: msg.chat_id,\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":120,"wires":[["b8e6d295.78bed","449bc62b.6a79a8"]]},{"id":"b8e6d295.78bed","type":"http request","z":"116704c1.2aeebb","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":810,"y":120,"wires":[["7cab531.800d5ac"]]},{"id":"7cab531.800d5ac","type":"function","z":"116704c1.2aeebb","name":"","func":"msg.lang = msg.payload.lang;\nmsg.type = msg.payload.type;\nmsg.nickname = msg.payload.nickname;\nmsg.state = msg.payload.state;\nmsg.settings = msg.payload.settings;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":120,"wires":[["9838eaa9.486038","9344632d.711fa"]]},{"id":"2ff248e.12b42b8","type":"switch","z":"1783749d.eafb2b","name":"Artist ","property":"text","propertyType":"msg","rules":[{"t":"eq","v":"/start","vt":"str"},{"t":"regex","v":"((\\+38)?\\(?\\d{3}\\)?[\\s\\.-]?(\\d{7}|\\d{3}[\\s\\.-]\\d{2}[\\s\\.-]\\d{2}|\\d{3}-\\d{4}))","vt":"str","case":false},{"t":"eq","v":"uk","vt":"str"},{"t":"eq","v":"ru","vt":"str"},{"t":"eq","v":"en","vt":"str"},{"t":"eq","v":"artist","vt":"str"},{"t":"eq","v":"buyer","vt":"str"},{"t":"eq","v":"changeTypeToBuyer","vt":"str"},{"t":"eq","v":"artActionsWithPicturesHello","vt":"str"},{"t":"eq","v":"actionsWithPictures","vt":"str"},{"t":"eq","v":"advertisingPicture","vt":"str"},{"t":"eq","v":"advertising","vt":"str"},{"t":"eq","v":"viewStatistics","vt":"str"},{"t":"eq","v":"viewApplications","vt":"str"},{"t":"eq","v":"contactWithAdministrator","vt":"str"},{"t":"eq","v":"setting","vt":"str"},{"t":"eq","v":"exhibitPicture","vt":"str"},{"t":"eq","v":"editPostOfPicture","vt":"str"},{"t":"eq","v":"deletePainting","vt":"str"},{"t":"eq","v":"backToArtistMenu","vt":"str"},{"t":"eq","v":"painting","vt":"str"},{"t":"eq","v":"graphics","vt":"str"},{"t":"eq","v":"modern","vt":"str"},{"t":"eq","v":"viewCreatedPost","vt":"str"},{"t":"eq","v":"moreAboutAdvertising","vt":"str"},{"t":"eq","v":"toAdvertisingPicture","vt":"str"},{"t":"eq","v":"artActionsPostPictureImage","vt":"str"},{"t":"eq","v":"artActionsPostPictureDescript","vt":"str"},{"t":"eq","v":"artActionsPostPictureSize","vt":"str"},{"t":"eq","v":"artActionsPostPictureHashtags","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":31,"x":510,"y":360,"wires":[["c07cc980.eb7768","6be5e88b.038cf8"],["28332c6a.b8b934","120b46b5.288089"],["b0edffc9.f70fb","8a57b5e7.e7f698"],["b0edffc9.f70fb","8b3c33f5.86c83"],["b0edffc9.f70fb","fd81655a.b421d8"],["d846730.da3099","f7e3c53.264c638"],["ecc60e3c.85968","8d7d7066.56cff"],["8d7d7066.56cff","4656d29d.1f808c"],["86a28dd0.823a5","ac049a2a.6699c8"],["86a28dd0.823a5","537535b8.691b7c"],["86a28dd0.823a5","c9820b7c.6e7de8"],["86a28dd0.823a5","2d942921.cef8b6"],["86a28dd0.823a5","cef137d9.89f6c8"],["86a28dd0.823a5","1a77d82.3cfac28"],["86a28dd0.823a5","1481808c.1029df"],["86a28dd0.823a5","548bc106.2c04a"],["c856a004.df92f","89d02394.2ab3f"],["c856a004.df92f","c4aa4434.1ee608"],["c856a004.df92f"],["c856a004.df92f"],["71f26ae7.fd5474","2a179599.b2c2ea"],["71f26ae7.fd5474"],["71f26ae7.fd5474"],["71f26ae7.fd5474"],[],[],["71f26ae7.fd5474"],["71f26ae7.fd5474"],["71f26ae7.fd5474"],["71f26ae7.fd5474"],["4bca1927.9a8c18","d858f55c.515b78"]]},{"id":"2d61704.21b989","type":"http request","z":"1783749d.eafb2b","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1250,"y":100,"wires":[[]]},{"id":"c07cc980.eb7768","type":"function","z":"1783749d.eafb2b","name":"startNumberMessage","func":"msg.url = \"http://localhost:3000/sendMessage\";\nmsg.method = \"POST\";\nmsg.payload = {\n    chat_id: msg.chat_id,\n    templateName: \"startNumberMessage\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":100,"wires":[["2d61704.21b989"]]},{"id":"9442e2ae.3c77b","type":"http request","z":"1783749d.eafb2b","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1250,"y":180,"wires":[["4333cdea.26aec4"]]},{"id":"b0edffc9.f70fb","type":"function","z":"1783749d.eafb2b","name":"","func":"msg.url = \"http://localhost:3001/user\";\nmsg.method = \"POST\";\nmsg.payload = {\n    chat_id: msg.chat_id,\n    lang: msg.text\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":180,"wires":[["9442e2ae.3c77b"]]},{"id":"9838eaa9.486038","type":"link out","z":"116704c1.2aeebb","name":"","links":["17181ba3.a65394"],"x":1175,"y":120,"wires":[]},{"id":"17181ba3.a65394","type":"link in","z":"1783749d.eafb2b","name":"","links":["9838eaa9.486038"],"x":95,"y":360,"wires":[["bb18d86d.65d3f8","2ff248e.12b42b8"]]},{"id":"f84c0c16.daa5a","type":"function","z":"1783749d.eafb2b","name":"artistMenu","func":"msg.url = \"http://localhost:3000/sendMessage\";\nmsg.method = \"POST\";\nmsg.payload = {\n    chat_id: msg.chat_id,\n    lang: msg.lang,\n    templateName: \"helloArtistMenu\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2290,"y":600,"wires":[["2367340b.95ecec"]]},{"id":"2367340b.95ecec","type":"http request","z":"1783749d.eafb2b","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":2470,"y":600,"wires":[[]]},{"id":"9344632d.711fa","type":"debug","z":"116704c1.2aeebb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1210,"y":180,"wires":[]},{"id":"23f22653.75568a","type":"function","z":"116704c1.2aeebb","name":"","func":"msg.buyerType = \"buyer\";\nmsg.artistType = \"artist\";\n//msg.state = msg.payload.state;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":120,"wires":[["9f05c756.bec1e8"]]},{"id":"d15e5ebf.20484","type":"function","z":"1783749d.eafb2b","name":"helloArtistStiker","func":"msg.url = \"http://localhost:3000/sendMessage\";\nmsg.method = \"POST\";\nmsg.payload = {\n    chat_id: msg.chat_id,\n    lang: msg.lang,\n    templateName: \"helloArtistStiker\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1860,"y":220,"wires":[["a23aff07.5c2b"]]},{"id":"a23aff07.5c2b","type":"http request","z":"1783749d.eafb2b","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":2110,"y":220,"wires":[["990201b.9490a"]]},{"id":"3c6b5964.961a46","type":"switch","z":"1783749d.eafb2b","name":"Buyer","property":"text","propertyType":"msg","rules":[{"t":"eq","v":"changeTypeToBuyer","vt":"str"},{"t":"eq","v":"buyer","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":1520,"wires":[["cf4c1bd1.703018"],["9083586d.195418"]]},{"id":"384b6fb5.0479c","type":"link in","z":"1783749d.eafb2b","name":"","links":["8d7d7066.56cff","a990112a.fcc76"],"x":195,"y":1520,"wires":[["3c6b5964.961a46","c6a0946c.ae97b8"]]},{"id":"bb18d86d.65d3f8","type":"debug","z":"1783749d.eafb2b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":210,"y":280,"wires":[]},{"id":"449bc62b.6a79a8","type":"debug","z":"116704c1.2aeebb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":794.2857055664062,"y":198.57142639160156,"wires":[]},{"id":"a12327df.17d228","type":"function","z":"1783749d.eafb2b","name":"helloArtistMenu","func":"msg.url = \"http://localhost:3000/sendMessage\";\nmsg.method = \"POST\";\nmsg.payload = {\n    chat_id: msg.chat_id,\n    lang: msg.lang,\n    templateName: \"helloArtistMenu\",\n    /*templateVars: {\n\t   name: msg.text\n\n\t}*/\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1340,"y":720,"wires":[["372775b8.d3dd7a"]]},{"id":"372775b8.d3dd7a","type":"http request","z":"1783749d.eafb2b","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1530,"y":720,"wires":[["32445665.7284aa"]]},{"id":"608d4104.f87ea","type":"http request","z":"1783749d.eafb2b","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1670,"y":180,"wires":[[]]},{"id":"4333cdea.26aec4","type":"function","z":"1783749d.eafb2b","name":"chooseWhoAreYou","func":"msg.url = \"http://localhost:3000/sendMessage\";\nmsg.method = \"POST\";\nmsg.payload = {\n    chat_id: msg.chat_id,\n    lang: msg.text,\n    templateName: \"chooseWhoAreYou\"\n    \n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1450,"y":180,"wires":[["608d4104.f87ea"]]},{"id":"ea4fbd2b.21eef","type":"http request","z":"1783749d.eafb2b","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1870,"y":720,"wires":[["57229e94.05b2e"]]},{"id":"32445665.7284aa","type":"function","z":"1783749d.eafb2b","name":"","func":"msg.url = \"http://localhost:3001/user\";\nmsg.method = \"POST\";\nmsg.payload = {\n    chat_id: msg.chat_id,\n    nickname: msg.text,\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1700,"y":720,"wires":[["ea4fbd2b.21eef"]]},{"id":"ff13bb00.6a1e88","type":"http request","z":"1783749d.eafb2b","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1250,"y":140,"wires":[["9632c66c.6ad308"]]},{"id":"28332c6a.b8b934","type":"function","z":"1783749d.eafb2b","name":"","func":"msg.url = \"http://localhost:3001/user\";\nmsg.method = \"POST\";\nmsg.payload = {\n    chat_id: msg.chat_id,\n    phone: msg.text,\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":140,"wires":[["ff13bb00.6a1e88"]]},{"id":"990201b.9490a","type":"function","z":"1783749d.eafb2b","name":"artistName","func":"msg.url = \"http://localhost:3000/sendMessage\";\nmsg.method = \"POST\";\nmsg.payload = {\n    chat_id: msg.chat_id,\n    lang: msg.lang,\n    templateName: \"artistName\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2290,"y":220,"wires":[["3b199390.3a774c"]]},{"id":"3b199390.3a774c","type":"http request","z":"1783749d.eafb2b","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":2470,"y":220,"wires":[["d7038503.23ca18"]]},{"id":"fed52cec.3cde7","type":"function","z":"1783749d.eafb2b","name":"set state","func":"msg.payload = {  \n    \"state\": \"depSuccess\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2720,"y":100,"wires":[[]]},{"id":"b8d1e9dc.5359e8","type":"debug","z":"1783749d.eafb2b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2770,"y":140,"wires":[]},{"id":"64e07e7f.1a1b1","type":"debug","z":"116704c1.2aeebb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":330,"y":160,"wires":[]},{"id":"d7038503.23ca18","type":"function","z":"1783749d.eafb2b","name":"set state","func":"msg.url = \"http://localhost:3001/user\";\nmsg.method = \"POST\";\nmsg.payload = {  \n    chat_id: msg.chat_id,\n    state: \"artistName\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2640,"y":220,"wires":[["b8d1e9dc.5359e8","a4b19f49.bbf1b"]]},{"id":"9632c66c.6ad308","type":"function","z":"1783749d.eafb2b","name":"succesRegistration","func":"msg.url = \"http://localhost:3000/sendMessage\";\nmsg.method = \"POST\";\nmsg.payload = {\n    chat_id: msg.chat_id,\n    lang: msg.lang,\n    templateName: \"succesRegistration\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1450,"y":140,"wires":[["c9957337.7f0e9"]]},{"id":"c9957337.7f0e9","type":"http request","z":"1783749d.eafb2b","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1670,"y":140,"wires":[["fe455fa4.f0c01"]]},{"id":"c45fb01a.e5f7f","type":"function","z":"1783749d.eafb2b","name":"chooseLanguage","func":"msg.url = \"http://localhost:3000/sendMessage\";\nmsg.method = \"POST\";\nmsg.payload = {\n    chat_id: msg.chat_id,\n    //lang: msg.lang,\n    templateName: \"chooseLanguage\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2310,"y":140,"wires":[["227673fa.6cd12c"]]},{"id":"227673fa.6cd12c","type":"http request","z":"1783749d.eafb2b","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":2490,"y":140,"wires":[[]]},{"id":"fe455fa4.f0c01","type":"function","z":"1783749d.eafb2b","name":"succesRegistrationStiker","func":"msg.url = \"http://localhost:3000/sendMessage\";\nmsg.method = \"POST\";\nmsg.payload = {\n    chat_id: msg.chat_id,\n    //lang: msg.lang,\n    templateName: \"succesRegistrationStiker\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1890,"y":140,"wires":[["836ef4aa.5c9248"]]},{"id":"836ef4aa.5c9248","type":"http request","z":"1783749d.eafb2b","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":2110,"y":140,"wires":[["c45fb01a.e5f7f"]]},{"id":"a4b19f49.bbf1b","type":"http request","z":"1783749d.eafb2b","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":2810,"y":220,"wires":[["10cd90ec.377dcf"]]},{"id":"10cd90ec.377dcf","type":"debug","z":"1783749d.eafb2b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2990,"y":220,"wires":[]},{"id":"d858f55c.515b78","type":"switch","z":"1783749d.eafb2b","name":"","property":"state","propertyType":"msg","rules":[{"t":"eq","v":"artistName","vt":"str"},{"t":"eq","v":"artActionsPostPictureImage","vt":"str"},{"t":"eq","v":"artActionsPostPictureDescript","vt":"str"},{"t":"eq","v":"addPictureSize","vt":"str"},{"t":"eq","v":"addPictureHashtags","vt":"str"},{"t":"eq","v":"addPictureName","vt":"str"},{"t":"eq","v":"contactWithAdministrator","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":8,"x":750,"y":720,"wires":[["37d80720.6187e8"],["b1bd55d3.9f9a18"],["b1bd55d3.9f9a18"],["b1bd55d3.9f9a18"],["b1bd55d3.9f9a18"],["b1bd55d3.9f9a18"],["fd459470.d19b88"],[]]},{"id":"37d80720.6187e8","type":"function","z":"1783749d.eafb2b","name":"","func":"msg.url = \"http://localhost:3001/user\";\nmsg.method = \"POST\";\nmsg.payload = {\n    chat_id: msg.chat_id,\n    nickname: msg.text,\n    \n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":720,"wires":[["2a1552aa.e5900e"]]},{"id":"2a1552aa.e5900e","type":"http request","z":"1783749d.eafb2b","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1150,"y":720,"wires":[["a12327df.17d228"]]},{"id":"86a28dd0.823a5","type":"link out","z":"1783749d.eafb2b","name":"","links":["f833a7dd.c2ead8"],"x":795,"y":360,"wires":[]},{"id":"30ad3c98.0d4194","type":"switch","z":"fa8df506.b0c4c8","name":"","property":"text","propertyType":"msg","rules":[{"t":"eq","v":"artActionsWithPicturesHello","vt":"str"},{"t":"eq","v":"actionsWithPictures","vt":"str"},{"t":"eq","v":"advertising","vt":"str"},{"t":"eq","v":"viewStatistics","vt":"str"},{"t":"eq","v":"viewApplications","vt":"str"},{"t":"eq","v":"contactWithAdministrator","vt":"str"},{"t":"eq","v":"setting","vt":"str"}],"checkall":"true","repair":false,"outputs":7,"x":310,"y":220,"wires":[["411a4ff1.c75f"],["e727256.2105bd8"],["c35a181.949e8e8"],["440cfa5e.5688c4"],["84bf2478.187f08"],["37c93e68.f473d2"],["adf1336c.7b825"]]},{"id":"f833a7dd.c2ead8","type":"link in","z":"fa8df506.b0c4c8","name":"","links":["86a28dd0.823a5"],"x":155,"y":220,"wires":[["30ad3c98.0d4194"]]},{"id":"e727256.2105bd8","type":"function","z":"fa8df506.b0c4c8","name":"artActionsWithPictures","func":"msg.url = \"http://localhost:3000/sendMessage\";\nmsg.method = \"POST\";\nmsg.payload = {\n    chat_id: msg.chat_id,\n    lang: msg.lang,\n    templateName: \"artActionsWithPictures\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":80,"wires":[["f9ba4752.e53978"]]},{"id":"f9ba4752.e53978","type":"http request","z":"fa8df506.b0c4c8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":870,"y":80,"wires":[[]]},{"id":"96ef586b.115708","type":"link in","z":"e6d2d53c.160948","name":"","links":[],"x":195,"y":320,"wires":[["168328bc.d99ee7"]]},{"id":"c856a004.df92f","type":"link out","z":"1783749d.eafb2b","name":"","links":["1d73fb7a.427b15"],"x":795,"y":400,"wires":[]},{"id":"168328bc.d99ee7","type":"switch","z":"e6d2d53c.160948","name":"","property":"text","propertyType":"msg","rules":[{"t":"eq","v":"exhibitPicture","vt":"str"},{"t":"eq","v":"editPostOfPicture","vt":"str"},{"t":"eq","v":"deletePainting","vt":"str"},{"t":"eq","v":"backToArtistMenu","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":350,"y":320,"wires":[["3ce772a1.dd52ae"],[],[],[]]},{"id":"3ce772a1.dd52ae","type":"function","z":"e6d2d53c.160948","name":"artActionsPostPicture","func":"msg.url = \"http://localhost:3000/sendMessage\";\nmsg.method = \"POST\";\nmsg.payload = {\n    chat_id: msg.chat_id,\n    lang: msg.lang,\n    templateName: \"artActionsPostPicture\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":100,"wires":[["5066230d.96364c"]]},{"id":"5066230d.96364c","type":"http request","z":"e6d2d53c.160948","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":830,"y":100,"wires":[[]]},{"id":"1d73fb7a.427b15","type":"link in","z":"fa8df506.b0c4c8","name":"","links":["c856a004.df92f","ffce86a9.8fcaa8"],"x":155,"y":700,"wires":[["30bea287.f7773e"]]},{"id":"30bea287.f7773e","type":"switch","z":"fa8df506.b0c4c8","name":"","property":"text","propertyType":"msg","rules":[{"t":"eq","v":"exhibitPicture","vt":"str"},{"t":"eq","v":"editPostOfPicture","vt":"str"},{"t":"eq","v":"deletePainting","vt":"str"},{"t":"eq","v":"backToArtistMenu","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":310,"y":700,"wires":[["ac93b303.11647"],["62438b17.8400b4"],["62438b17.8400b4"],["1ab2d2a9.5b78dd"]]},{"id":"ac93b303.11647","type":"function","z":"fa8df506.b0c4c8","name":"artActionsPostPicture","func":"msg.url = \"http://localhost:3000/sendMessage\";\nmsg.method = \"POST\";\nmsg.payload = {\n    chat_id: msg.chat_id,\n    lang: msg.lang,\n    templateName: \"artActionsPostPicture\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":600,"wires":[["249e13d.c7331ec"]]},{"id":"249e13d.c7331ec","type":"http request","z":"fa8df506.b0c4c8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":850,"y":600,"wires":[[]]},{"id":"9bc0ea1.c53b218","type":"comment","z":"fa8df506.b0c4c8","name":"Actions with pictures","info":"","x":240,"y":620,"wires":[]},{"id":"9e76dcfe.fc02b","type":"comment","z":"fa8df506.b0c4c8","name":"Artist Menu","info":"","x":210,"y":140,"wires":[]},{"id":"c35a181.949e8e8","type":"function","z":"fa8df506.b0c4c8","name":"artAdvertising","func":"msg.url = \"http://localhost:3000/sendMessage\";\nmsg.method = \"POST\";\nmsg.payload = {\n    chat_id: msg.chat_id,\n    lang: msg.lang,\n    templateName: \"artAdvertising\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":140,"wires":[["d1e53009.cc3b9"]]},{"id":"d1e53009.cc3b9","type":"http request","z":"fa8df506.b0c4c8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":870,"y":140,"wires":[[]]},{"id":"440cfa5e.5688c4","type":"function","z":"fa8df506.b0c4c8","name":"artActionsWithPictures","func":"msg.url = \"http://localhost:3000/sendMessage\";\nmsg.method = \"POST\";\nmsg.payload = {\n    chat_id: msg.chat_id,\n    lang: msg.lang,\n    templateName: \"artActionsWithPictures\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":200,"wires":[["133f290e.9a1447"]]},{"id":"133f290e.9a1447","type":"http request","z":"fa8df506.b0c4c8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":870,"y":200,"wires":[[]]},{"id":"84bf2478.187f08","type":"function","z":"fa8df506.b0c4c8","name":"artActionsWithPictures","func":"msg.url = \"http://localhost:3000/sendMessage\";\nmsg.method = \"POST\";\nmsg.payload = {\n    chat_id: msg.chat_id,\n    lang: msg.lang,\n    templateName: \"artActionsWithPictures\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":260,"wires":[["8760055f.9c90f8"]]},{"id":"8760055f.9c90f8","type":"http request","z":"fa8df506.b0c4c8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":870,"y":260,"wires":[[]]},{"id":"37c93e68.f473d2","type":"function","z":"fa8df506.b0c4c8","name":"contactWithAdministratorStiker","func":"msg.url = \"http://localhost:3000/sendMessage\";\nmsg.method = \"POST\";\nmsg.payload = {\n    chat_id: msg.chat_id,\n    lang: msg.lang,\n    templateName: \"contactWithAdministratorStiker\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":320,"wires":[["2c2cb939.df87e6"]]},{"id":"2c2cb939.df87e6","type":"http request","z":"fa8df506.b0c4c8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":890,"y":320,"wires":[["bdb31dba.87dd6"]]},{"id":"adf1336c.7b825","type":"function","z":"fa8df506.b0c4c8","name":"changeWhoAreYou","func":"msg.url = \"http://localhost:3000/sendMessage\";\nmsg.method = \"POST\";\nmsg.payload = {\n    chat_id: msg.chat_id,\n    lang: msg.lang,\n    templateName: \"changeWhoAreYou\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":380,"wires":[["21f96b41.274a34"]]},{"id":"21f96b41.274a34","type":"http request","z":"fa8df506.b0c4c8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":870,"y":380,"wires":[[]]},{"id":"1ab2d2a9.5b78dd","type":"function","z":"fa8df506.b0c4c8","name":"artistMenu","func":"msg.url = \"http://localhost:3000/sendMessage\";\nmsg.method = \"POST\";\nmsg.payload = {\n    chat_id: msg.chat_id,\n    lang: msg.lang,\n    templateName: \"artistMenu\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":780,"wires":[["b81afec5.51091"]]},{"id":"b81afec5.51091","type":"http request","z":"fa8df506.b0c4c8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":770,"y":780,"wires":[[]]},{"id":"bc179188.3249","type":"function","z":"fa8df506.b0c4c8","name":"artistMenu","func":"msg.url = \"http://localhost:3000/sendMessage\";\nmsg.method = \"POST\";\nmsg.payload = {\n    chat_id: msg.chat_id,\n    lang: msg.lang,\n    templateName: \"artistMenu\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1150,"y":660,"wires":[["76fe761a.b07698"]]},{"id":"76fe761a.b07698","type":"http request","z":"fa8df506.b0c4c8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1310,"y":660,"wires":[[]]},{"id":"245fbbde.481294","type":"function","z":"fa8df506.b0c4c8","name":"перелік картин -карусель","func":"msg.url = \"http://localhost:3000/sendMessage\";\nmsg.method = \"POST\";\nmsg.payload = {\n    chat_id: msg.chat_id,\n    lang: msg.lang,\n    templateName: \"artistMenu\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1200,"y":600,"wires":[["a65e37ea.5948a8"]]},{"id":"a65e37ea.5948a8","type":"http request","z":"fa8df506.b0c4c8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1430,"y":600,"wires":[[]]},{"id":"551f9dbf.f13574","type":"comment","z":"fa8df506.b0c4c8","name":"Post Picture","info":"","x":210,"y":1000,"wires":[]},{"id":"f336b2c5.1ee82","type":"link in","z":"fa8df506.b0c4c8","name":"","links":["71f26ae7.fd5474","b1bd55d3.9f9a18"],"x":155,"y":1080,"wires":[["768893bb.0c96fc"]]},{"id":"768893bb.0c96fc","type":"switch","z":"fa8df506.b0c4c8","name":"","property":"text","propertyType":"msg","rules":[{"t":"eq","v":"painting","vt":"str"},{"t":"eq","v":"graphics","vt":"str"},{"t":"eq","v":"modern","vt":"str"},{"t":"eq","v":"artActionsPostPictureImage","vt":"str"},{"t":"eq","v":"artActionsPostPictureDescript","vt":"str"},{"t":"eq","v":"artActionsPostPictureSize","vt":"str"},{"t":"eq","v":"artActionsPostPictureHashtags","vt":"str"},{"t":"eq","v":"viewCreatedPost","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":9,"x":310,"y":1080,"wires":[["26db2c4c.2bf934","d03b4ddc.81b22"],["26db2c4c.2bf934"],["26db2c4c.2bf934"],["26db2c4c.2bf934"],["6570405.ac920c"],["64aab369.77266c"],["68b46b20.1d1a24"],["b87285a5.f47698"],["7c653299.bc91ec","de31255e.9e9b48"]]},{"id":"26db2c4c.2bf934","type":"function","z":"fa8df506.b0c4c8","name":"artActionsPostPictureImage","func":"msg.url = \"http://localhost:3000/sendMessage\";\nmsg.method = \"POST\";\nmsg.payload = {\n    chat_id: msg.chat_id,\n    lang: msg.lang,\n    templateName: \"artActionsPostPictureImage\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":980,"wires":[["425ff0d2.ccebf"]]},{"id":"425ff0d2.ccebf","type":"http request","z":"fa8df506.b0c4c8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":890,"y":980,"wires":[["6558274b.bb8ff8"]]},{"id":"71f26ae7.fd5474","type":"link out","z":"1783749d.eafb2b","name":"","links":["f336b2c5.1ee82"],"x":795,"y":440,"wires":[]},{"id":"708f25be.74db1c","type":"comment","z":"fa8df506.b0c4c8","name":"❤️❤️❤️❤️ треба записувати в бд дані","info":"","x":1000,"y":920,"wires":[]},{"id":"6558274b.bb8ff8","type":"function","z":"fa8df506.b0c4c8","name":"set state","func":"msg.url = \"http://localhost:3001/user\";\nmsg.method = \"POST\";\nmsg.payload = {  \n    chat_id: msg.chat_id,\n    state: \"artActionsPostPictureImage\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":980,"wires":[["46e4397d.797758"]]},{"id":"46e4397d.797758","type":"http request","z":"fa8df506.b0c4c8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1230,"y":980,"wires":[["c57b142f.318518"]]},{"id":"b1bd55d3.9f9a18","type":"link out","z":"1783749d.eafb2b","name":"","links":["f336b2c5.1ee82"],"x":935,"y":760,"wires":[]},{"id":"6570405.ac920c","type":"function","z":"fa8df506.b0c4c8","name":"artActionsPostPictureDescript","func":"msg.url = \"http://localhost:3000/sendMessage\";\nmsg.method = \"POST\";\nmsg.picture = msg.payload;\nmsg.payload = {\n    id: msg.payload.id,\n    chat_id: msg.chat_id,\n    lang: msg.lang,\n    templateName: \"artActionsPostPictureDescript\",\n    /*templateVars: {\n\t   name: msg.text\n\n\t}*/\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1630,"y":1160,"wires":[["da8a16d3.024e88"]]},{"id":"da8a16d3.024e88","type":"http request","z":"fa8df506.b0c4c8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1890,"y":1160,"wires":[["8a1933d0.a402e","ceea3333.b1acb"]]},{"id":"8a1933d0.a402e","type":"function","z":"fa8df506.b0c4c8","name":"set state","func":"msg.url = \"http://localhost:3001/user\";\nmsg.method = \"POST\";\nmsg.payload = {  \n    chat_id: msg.chat_id,\n    state: \"artActionsPostPictureDescript\",\n    settings: {\n        picture_id: msg.picture.id\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2060,"y":1160,"wires":[["e11811aa.0457e"]]},{"id":"e11811aa.0457e","type":"http request","z":"fa8df506.b0c4c8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":2230,"y":1160,"wires":[[]]},{"id":"7c653299.bc91ec","type":"switch","z":"fa8df506.b0c4c8","name":"","property":"state","propertyType":"msg","rules":[{"t":"eq","v":"artActionsPostPictureImage","vt":"str"},{"t":"eq","v":"artActionsPostPictureDescript","vt":"str"},{"t":"eq","v":"addPictureSize","vt":"str"},{"t":"eq","v":"addPictureHashtags","vt":"str"},{"t":"eq","v":"addPictureName","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":6,"x":510,"y":1260,"wires":[["7ff7f2b9.79991c","3320916.7958e6e"],["545aa8cb.d1e8d8"],["d0e66280.9ef99"],["f1627642.e724a8"],["504f5f1c.2dd0a"],[]]},{"id":"64aab369.77266c","type":"function","z":"fa8df506.b0c4c8","name":"artActionsPostPictureSize","func":"msg.url = \"http://localhost:3000/sendMessage\";\nmsg.method = \"POST\";\nmsg.picture = msg.payload;\nmsg.payload = {\n    chat_id: msg.chat_id,\n    lang: msg.lang,\n    templateName: \"artActionsPostPictureSize\",\n    /*templateVars: {\n\t   name: msg.text\n\n\t}*/\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1270,"y":1220,"wires":[["aea0e375.96548"]]},{"id":"aea0e375.96548","type":"http request","z":"fa8df506.b0c4c8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1510,"y":1220,"wires":[["118777b8.08fd88"]]},{"id":"118777b8.08fd88","type":"function","z":"fa8df506.b0c4c8","name":"set state","func":"msg.url = \"http://localhost:3001/user\";\nmsg.method = \"POST\";\nmsg.payload = {  \n    chat_id: msg.chat_id,\n    state: \"addPictureSize\",\n    settings: {\n        picture_id: msg.picture.id\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1680,"y":1220,"wires":[["ce3888e2.704ed8"]]},{"id":"ce3888e2.704ed8","type":"http request","z":"fa8df506.b0c4c8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1850,"y":1220,"wires":[[]]},{"id":"68b46b20.1d1a24","type":"function","z":"fa8df506.b0c4c8","name":"artActionsPostPictureHashtags","func":"msg.url = \"http://localhost:3000/sendMessage\";\nmsg.method = \"POST\";\nmsg.picture = msg.payload;\nmsg.payload = {\n    chat_id: msg.chat_id,\n    lang: msg.lang,\n    templateName: \"artActionsPostPictureHashtags\",\n    /*templateVars: {\n\t   name: msg.text\n\n\t}*/\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1290,"y":1280,"wires":[["3327a70e.766e08","725ec06e.dbad8"]]},{"id":"3327a70e.766e08","type":"http request","z":"fa8df506.b0c4c8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1510,"y":1280,"wires":[["e8e68d67.01f2d"]]},{"id":"e8e68d67.01f2d","type":"function","z":"fa8df506.b0c4c8","name":"set state","func":"msg.url = \"http://localhost:3001/user\";\nmsg.method = \"POST\";\nmsg.payload = {  \n    chat_id: msg.chat_id,\n    state: \"addPictureHashtags\",\n    settings: {\n        picture_id: msg.picture.id\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1680,"y":1280,"wires":[["d9e19c04.67d5c"]]},{"id":"d9e19c04.67d5c","type":"http request","z":"fa8df506.b0c4c8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1850,"y":1280,"wires":[["dfb94b8.3367cb8"]]},{"id":"504f5f1c.2dd0a","type":"function","z":"fa8df506.b0c4c8","name":"artActionsPostPictureDoneText","func":"msg.url = \"http://localhost:3000/sendMessage\";\nmsg.method = \"POST\";\nmsg.payload = {\n    chat_id: msg.chat_id,\n    lang: msg.lang,\n    templateName: \"artActionsPostPictureDoneText\",\n    /*templateVars: {\n\t   name: msg.text\n\n\t}*/\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":1400,"wires":[["825e3411.d8b0f8"]]},{"id":"825e3411.d8b0f8","type":"http request","z":"fa8df506.b0c4c8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1050,"y":1400,"wires":[["1abfef5.3c4b511"]]},{"id":"1abfef5.3c4b511","type":"function","z":"fa8df506.b0c4c8","name":"artActionsPostPictureDoneStiker","func":"msg.url = \"http://localhost:3000/sendMessage\";\nmsg.method = \"POST\";\nmsg.payload = {\n    chat_id: msg.chat_id,\n    lang: msg.lang,\n    templateName: \"artActionsPostPictureDoneStiker\",\n    /*templateVars: {\n\t   name: msg.text\n\n\t}*/\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1300,"y":1400,"wires":[["ec3af7f2.a23488"]]},{"id":"ec3af7f2.a23488","type":"http request","z":"fa8df506.b0c4c8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1550,"y":1400,"wires":[["a300a5cf.f7a278"]]},{"id":"d9aaf52d.e98948","type":"function","z":"fa8df506.b0c4c8","name":"artActionsPostPictureCreated","func":"msg.url = \"http://localhost:3000/sendMessage\";\nmsg.method = \"POST\";\nmsg.payload = {\n    chat_id: msg.chat_id,\n    lang: msg.lang,\n    templateName: \"artActionsPostPictureCreated\",\n    templateVars: {\n\t   name: msg.picture.name,\n\t   description: msg.picture.description,\n\t   height:msg.picture.height,\n\t   width:msg.picture.width,\n\t   nickname: msg.nickname,\n\t   hashtags:msg.picture.hashtags,\n\t   photoUrl:msg.picture.url,\n\t}\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1210,"y":1040,"wires":[["ef9c5525.5c5358"]]},{"id":"ef9c5525.5c5358","type":"http request","z":"fa8df506.b0c4c8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1430,"y":1040,"wires":[["c9cf7943.8f77a8"]]},{"id":"a300a5cf.f7a278","type":"function","z":"fa8df506.b0c4c8","name":"artActionsPostPictureDoneView","func":"msg.url = \"http://localhost:3000/sendMessage\";\nmsg.method = \"POST\";\nmsg.payload = {\n    chat_id: msg.chat_id,\n    lang: msg.lang,\n    templateName: \"artActionsPostPictureDoneView\",\n    /*templateVars: {\n\t   name: msg.text\n\n\t}*/\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1790,"y":1400,"wires":[["b0995fc2.b3228"]]},{"id":"b0995fc2.b3228","type":"http request","z":"fa8df506.b0c4c8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":2010,"y":1400,"wires":[[]]},{"id":"2a179599.b2c2ea","type":"debug","z":"1783749d.eafb2b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":791.25,"y":535,"wires":[]},{"id":"d03b4ddc.81b22","type":"debug","z":"fa8df506.b0c4c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":590,"y":940,"wires":[]},{"id":"7f978abe.cc2924","type":"comment","z":"fa8df506.b0c4c8","name":"Edit Post","info":"","x":200,"y":1420,"wires":[]},{"id":"2cef7bbe.648c44","type":"comment","z":"fa8df506.b0c4c8","name":"Delete Post","info":"","x":210,"y":1740,"wires":[]},{"id":"c9cf7943.8f77a8","type":"function","z":"fa8df506.b0c4c8","name":"artActionsPostPictureCreatedMenu","func":"msg.url = \"http://localhost:3000/sendMessage\";\nmsg.method = \"POST\";\nmsg.payload = {\n    chat_id: msg.chat_id,\n    lang: msg.lang,\n    templateName: \"artActionsPostPictureCreatedMenu\",\n    /*templateVars: {\n\t   name: msg.text\n\n\t}*/\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1680,"y":1040,"wires":[["f4963236.d637d"]]},{"id":"f4963236.d637d","type":"http request","z":"fa8df506.b0c4c8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1930,"y":1040,"wires":[[]]},{"id":"411a4ff1.c75f","type":"function","z":"fa8df506.b0c4c8","name":"artActionsWithPicturesHello","func":"msg.url = \"http://localhost:3000/sendMessage\";\nmsg.method = \"POST\";\nmsg.payload = {\n    chat_id: msg.chat_id,\n    lang: msg.lang,\n    templateName: \"artActionsWithPicturesHello\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":20,"wires":[["9beacd94.83fde"]]},{"id":"9beacd94.83fde","type":"http request","z":"fa8df506.b0c4c8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":870,"y":20,"wires":[[]]},{"id":"c57b142f.318518","type":"debug","z":"fa8df506.b0c4c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1376.25,"y":941.25,"wires":[]},{"id":"cfd51de4.e36be","type":"function","z":"fa8df506.b0c4c8","name":"","func":"msg.url = \"http://localhost:3000/sendMessage\";\nmsg.method = \"POST\";\nmsg.payload = {\n    chat_id: msg.chat_id,\n    lang: msg.lang,\n    templateName: \"artistMenu\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":680,"wires":[["357e1125.905f5e"]]},{"id":"357e1125.905f5e","type":"http request","z":"fa8df506.b0c4c8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":770,"y":680,"wires":[["ccab33f.cf596d"]]},{"id":"3cb57417.47026c","type":"comment","z":"fa8df506.b0c4c8","name":"діставання інфи про картини з бд і перевірка чи є картини чи немає ще","info":"","x":810,"y":640,"wires":[]},{"id":"ccab33f.cf596d","type":"switch","z":"fa8df506.b0c4c8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":680,"wires":[["bc179188.3249","245fbbde.481294"],["62438b17.8400b4"]]},{"id":"62438b17.8400b4","type":"function","z":"fa8df506.b0c4c8","name":"artActionsWithoutPicture","func":"msg.url = \"http://localhost:3000/sendMessage\";\nmsg.method = \"POST\";\nmsg.payload = {\n    chat_id: msg.chat_id,\n    lang: msg.lang,\n    templateName: \"artActionsWithoutPicture\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1190,"y":720,"wires":[["9a6bf52.b680f08"]]},{"id":"9a6bf52.b680f08","type":"http request","z":"fa8df506.b0c4c8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1410,"y":720,"wires":[[]]},{"id":"39d508fa.31b108","type":"comment","z":"fa8df506.b0c4c8","name":"нема ще картин в художника","info":"","x":1210,"y":760,"wires":[]},{"id":"c727e14.1c7062","type":"comment","z":"fa8df506.b0c4c8","name":"є картини в художника і витягування іх","info":"","x":1240,"y":560,"wires":[]},{"id":"a990112a.fcc76","type":"link out","z":"1783749d.eafb2b","name":"","links":["384b6fb5.0479c"],"x":375,"y":600,"wires":[]},{"id":"d846730.da3099","type":"function","z":"1783749d.eafb2b","name":"helloArtist","func":"msg.url = \"http://localhost:3000/sendMessage\";\nmsg.method = \"POST\";\nmsg.payload = {\n    chat_id: msg.chat_id,\n    lang: msg.lang,\n    templateName: \"helloArtist\"\n    \n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":220,"wires":[["21803f1e.da4f3"]]},{"id":"21803f1e.da4f3","type":"http request","z":"1783749d.eafb2b","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1250,"y":220,"wires":[["ebfd7a62.cb9ab8"]]},{"id":"238e7fd.dfca28","type":"http request","z":"1783749d.eafb2b","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1670,"y":220,"wires":[["d15e5ebf.20484"]]},{"id":"ebfd7a62.cb9ab8","type":"function","z":"1783749d.eafb2b","name":"","func":"msg.url = \"http://localhost:3001/user\";\nmsg.method = \"POST\";\nmsg.payload = {\n    chat_id: msg.chat_id,\n    type: msg.text\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1420,"y":220,"wires":[["238e7fd.dfca28"]]},{"id":"bb40efe1.8047f","type":"function","z":"1783749d.eafb2b","name":"helloArtistStiker","func":"msg.url = \"http://localhost:3000/sendMessage\";\nmsg.method = \"POST\";\nmsg.payload = {\n    chat_id: msg.chat_id,\n    lang: msg.lang,\n    templateName: \"helloArtistStiker\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1460,"y":1400,"wires":[["bfded3bc.c3468"]]},{"id":"7610d411.f367ec","type":"function","z":"1783749d.eafb2b","name":"helloArtist","func":"msg.url = \"http://localhost:3000/sendMessage\";\nmsg.method = \"POST\";\nmsg.type = msg.payload.type;\nmsg.payload = {\n    chat_id: msg.chat_id,\n    lang: msg.lang,\n    type: msg.payload.type,\n    templateName: \"helloArtist\"\n    \n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":1400,"wires":[["9910eea8.e856e","3035b95e.fd3746"]]},{"id":"9910eea8.e856e","type":"http request","z":"1783749d.eafb2b","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1250,"y":1400,"wires":[["bb40efe1.8047f"]]},{"id":"bec358a3.c76818","type":"http request","z":"1783749d.eafb2b","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":790,"y":1400,"wires":[["38e27230.86350e","7610d411.f367ec"]]},{"id":"cf4c1bd1.703018","type":"function","z":"1783749d.eafb2b","name":"","func":"msg.url = \"http://localhost:3001/user\";\nmsg.method = \"POST\";\nmsg.payload = {\n    chat_id: msg.chat_id,\n    type: \"buyertype\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":1400,"wires":[["bec358a3.c76818"]]},{"id":"bfded3bc.c3468","type":"http request","z":"1783749d.eafb2b","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1670,"y":1400,"wires":[["aa194e6b.9947e"]]},{"id":"3035b95e.fd3746","type":"debug","z":"1783749d.eafb2b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1190,"y":1260,"wires":[]},{"id":"c6a0946c.ae97b8","type":"debug","z":"1783749d.eafb2b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":310,"y":1420,"wires":[]},{"id":"57229e94.05b2e","type":"debug","z":"1783749d.eafb2b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2020,"y":640,"wires":[]},{"id":"38e27230.86350e","type":"debug","z":"1783749d.eafb2b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":850,"y":1300,"wires":[]},{"id":"aa194e6b.9947e","type":"debug","z":"1783749d.eafb2b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1810,"y":1240,"wires":[]},{"id":"23c4310d.2a6c1e","type":"switch","z":"1783749d.eafb2b","name":"","property":"type","propertyType":"msg","rules":[{"t":"eq","v":"buyer","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":440,"wires":[["a990112a.fcc76"],[]]},{"id":"8d7d7066.56cff","type":"link out","z":"1783749d.eafb2b","name":"","links":["384b6fb5.0479c"],"x":795,"y":300,"wires":[]},{"id":"9083586d.195418","type":"function","z":"1783749d.eafb2b","name":"helloArtistStiker","func":"msg.url = \"http://localhost:3000/sendMessage\";\nmsg.method = \"POST\";\nmsg.payload = {\n    chat_id: msg.chat_id,\n    lang: msg.lang,\n    templateName: \"helloArtistStiker\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":1460,"wires":[["3feaecd3.568ca4","f2eb518f.3ba8c"]]},{"id":"3feaecd3.568ca4","type":"http request","z":"1783749d.eafb2b","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":810,"y":1460,"wires":[["17af4caa.a22da3","d46749b.ce115b8"]]},{"id":"17af4caa.a22da3","type":"debug","z":"1783749d.eafb2b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":930,"y":1500,"wires":[]},{"id":"590b0566.d465cc","type":"http request","z":"1783749d.eafb2b","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1370,"y":1460,"wires":[["1e34c7ec.957fd8"]]},{"id":"d46749b.ce115b8","type":"function","z":"1783749d.eafb2b","name":"","func":"msg.url = \"http://localhost:3001/user\";\nmsg.method = \"POST\";\nmsg.payload = {\n    chat_id: msg.chat_id,\n    type: msg.text\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1120,"y":1460,"wires":[["590b0566.d465cc"]]},{"id":"1e34c7ec.957fd8","type":"debug","z":"1783749d.eafb2b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1530,"y":1460,"wires":[]},{"id":"6be5e88b.038cf8","type":"debug","z":"1783749d.eafb2b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":930,"y":40,"wires":[]},{"id":"120b46b5.288089","type":"debug","z":"1783749d.eafb2b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":970,"y":300,"wires":[]},{"id":"8a57b5e7.e7f698","type":"debug","z":"1783749d.eafb2b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":970,"y":340,"wires":[]},{"id":"8b3c33f5.86c83","type":"debug","z":"1783749d.eafb2b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":970,"y":380,"wires":[]},{"id":"fd81655a.b421d8","type":"debug","z":"1783749d.eafb2b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":970,"y":420,"wires":[]},{"id":"f7e3c53.264c638","type":"debug","z":"1783749d.eafb2b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1330,"y":300,"wires":[]},{"id":"ecc60e3c.85968","type":"debug","z":"1783749d.eafb2b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":610,"y":80,"wires":[]},{"id":"4656d29d.1f808c","type":"debug","z":"1783749d.eafb2b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":968.5714721679688,"y":542.857177734375,"wires":[]},{"id":"4bca1927.9a8c18","type":"debug","z":"1783749d.eafb2b","name":"otherwise","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":980,"y":580,"wires":[]},{"id":"ac049a2a.6699c8","type":"debug","z":"1783749d.eafb2b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":972.857177734375,"y":618.5714111328125,"wires":[]},{"id":"537535b8.691b7c","type":"debug","z":"1783749d.eafb2b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":970,"y":660,"wires":[]},{"id":"c9820b7c.6e7de8","type":"debug","z":"1783749d.eafb2b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1130,"y":260,"wires":[]},{"id":"2d942921.cef8b6","type":"debug","z":"1783749d.eafb2b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1130,"y":300,"wires":[]},{"id":"cef137d9.89f6c8","type":"debug","z":"1783749d.eafb2b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1130,"y":340,"wires":[]},{"id":"1a77d82.3cfac28","type":"debug","z":"1783749d.eafb2b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1130,"y":380,"wires":[]},{"id":"1481808c.1029df","type":"debug","z":"1783749d.eafb2b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1130,"y":420,"wires":[]},{"id":"548bc106.2c04a","type":"debug","z":"1783749d.eafb2b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1130,"y":460,"wires":[]},{"id":"89d02394.2ab3f","type":"debug","z":"1783749d.eafb2b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1130,"y":500,"wires":[]},{"id":"c4aa4434.1ee608","type":"debug","z":"1783749d.eafb2b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1130,"y":540,"wires":[]},{"id":"f2eb518f.3ba8c","type":"debug","z":"1783749d.eafb2b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":1520,"wires":[]},{"id":"953a9255.83039","type":"http request","z":"1783749d.eafb2b","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":790,"y":1680,"wires":[[]]},{"id":"ac44ede0.87c69","type":"function","z":"1783749d.eafb2b","name":"","func":"msg.url = \"http://localhost:3002/picture\";\nmsg.method = \"POST\";\nmsg.payload = {\n    artist_id: msg.artist_id,\n    externalPictureUrl: msg\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":1680,"wires":[["953a9255.83039"]]},{"id":"7bcdf7bc.10e8e8","type":"http request","z":"fa8df506.b0c4c8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1050,"y":1160,"wires":[["488ad3e8.64a7ec","84b9774b.5c5068"]]},{"id":"7ff7f2b9.79991c","type":"function","z":"fa8df506.b0c4c8","name":"","func":"msg.url = \"https://api.telegram.org/bot1642349293:AAFs_rRylHYO5VWf0uJe-A897aBfjtoJdu8/getFile\";\nmsg.method = \"GET\";\nmsg.payload = {\n    file_id: msg.text,\n    //url: msg.text\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":1160,"wires":[["7bcdf7bc.10e8e8"]]},{"id":"488ad3e8.64a7ec","type":"debug","z":"fa8df506.b0c4c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1210,"y":1100,"wires":[]},{"id":"3320916.7958e6e","type":"debug","z":"fa8df506.b0c4c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":1100,"wires":[]},{"id":"de31255e.9e9b48","type":"debug","z":"fa8df506.b0c4c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":290,"y":1280,"wires":[]},{"id":"7744773c.5e8058","type":"http request","z":"fa8df506.b0c4c8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1390,"y":1160,"wires":[["6570405.ac920c","e0651eb6.d5af6"]]},{"id":"84b9774b.5c5068","type":"function","z":"fa8df506.b0c4c8","name":"","func":"msg.url = \"http://localhost:3002/picture\";\nmsg.method = \"POST\";\nmsg.payload = {\n    artist_id: msg.chat_id,\n    externalPictureUrl: \"https://api.telegram.org/file/bot1642349293:AAFs_rRylHYO5VWf0uJe-A897aBfjtoJdu8/\"+msg.payload.result.file_path,\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1220,"y":1160,"wires":[["7744773c.5e8058"]]},{"id":"e0651eb6.d5af6","type":"debug","z":"fa8df506.b0c4c8","name":"oooooooo","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1590,"y":1080,"wires":[]},{"id":"2d55e826.89b068","type":"function","z":"fa8df506.b0c4c8","name":"artActionsPostPictureName","func":"msg.url = \"http://localhost:3000/sendMessage\";\nmsg.method = \"POST\";\nmsg.payload = {\n    chat_id: msg.chat_id,\n    lang: msg.lang,\n    templateName: \"artActionsPostPictureName\",\n    /*templateVars: {\n\t   name: msg.text\n\n\t}*/\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1280,"y":1340,"wires":[["edf8b0b5.0acf8"]]},{"id":"edf8b0b5.0acf8","type":"http request","z":"fa8df506.b0c4c8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1510,"y":1340,"wires":[["bb9a76f6.b30198"]]},{"id":"bb9a76f6.b30198","type":"function","z":"fa8df506.b0c4c8","name":"set state","func":"msg.url = \"http://localhost:3001/user\";\nmsg.method = \"POST\";\nmsg.payload = {  \n    chat_id: msg.chat_id,\n    state: \"addPictureName\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1680,"y":1340,"wires":[["3f9a1ed4.b24cf2"]]},{"id":"3f9a1ed4.b24cf2","type":"http request","z":"fa8df506.b0c4c8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1850,"y":1340,"wires":[[]]},{"id":"d24aecc3.4f65c","type":"http request","z":"fa8df506.b0c4c8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":930,"y":1220,"wires":[["64aab369.77266c","ad086e94.5c2f5"]]},{"id":"545aa8cb.d1e8d8","type":"function","z":"fa8df506.b0c4c8","name":"","func":"msg.url = \"http://localhost:3002/picture\";\nmsg.method = \"POST\";\nmsg.payload = {\n    id: msg.payload.settings.picture_id,\n    description: msg.text,\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":1220,"wires":[["d24aecc3.4f65c","bb58fec8.ef4cf"]]},{"id":"bb58fec8.ef4cf","type":"debug","z":"fa8df506.b0c4c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":910,"y":1180,"wires":[]},{"id":"ad086e94.5c2f5","type":"debug","z":"fa8df506.b0c4c8","name":"oooooooo","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1147.142822265625,"y":1185.71435546875,"wires":[]},{"id":"3fc56557.74263a","type":"http request","z":"fa8df506.b0c4c8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":970,"y":1280,"wires":[["68b46b20.1d1a24","7d1d843c.f286ac"]]},{"id":"d0e66280.9ef99","type":"function","z":"fa8df506.b0c4c8","name":"","func":"msg.url = \"http://localhost:3002/picture\";\nmsg.method = \"POST\";\nmsg.size = msg.text.split(\"-\");\nmsg.payload = {\n    id: msg.payload.settings.picture_id,\n    //height: msg.text.split('-')[0],\n    //width: msg.text.split('-')[1]\n    height: msg.size[0],\n    width: msg.size[1]\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":1280,"wires":[["3fc56557.74263a","3fddd5f8.af266a"]]},{"id":"7d1d843c.f286ac","type":"debug","z":"fa8df506.b0c4c8","name":"oooooooo","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1130,"y":1240,"wires":[]},{"id":"725ec06e.dbad8","type":"debug","z":"fa8df506.b0c4c8","name":"oooooooo","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1550,"y":1240,"wires":[]},{"id":"dfb94b8.3367cb8","type":"debug","z":"fa8df506.b0c4c8","name":"oooooooo","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2041.4285888671875,"y":1294.2857666015625,"wires":[]},{"id":"d8c2c74f.056d88","type":"http request","z":"fa8df506.b0c4c8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1010,"y":1320,"wires":[["2d55e826.89b068"]]},{"id":"f1627642.e724a8","type":"function","z":"fa8df506.b0c4c8","name":"","func":"let text = msg.text;\n\ntext = text.replace(/\\s/g, '');\n\ntext = text.replace(',', \"\");\n\nif(text[0] == '#') {\ntext = text.substring(1, text.length);\nconsole.log(text);\n}\n\nmsg.hashtags = text.split('#');\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":1320,"wires":[["ed5465ba.fe0468"]]},{"id":"ceea3333.b1acb","type":"debug","z":"fa8df506.b0c4c8","name":"oooooooo","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2067.1429443359375,"y":1094.2857666015625,"wires":[]},{"id":"3fddd5f8.af266a","type":"debug","z":"fa8df506.b0c4c8","name":"oooooooo","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":910,"y":1245.71435546875,"wires":[]},{"id":"d2208fca.5c923","type":"dialogflowv2","z":"1783749d.eafb2b","dialogflow":"f13711e4.d179d","language":"uk","debug":false,"queryParamsOK":false,"x":1180,"y":840,"wires":[["ea60df6b.0da04","9df8dab4.357528"]]},{"id":"dd2e7bcc.d2ff48","type":"function","z":"1783749d.eafb2b","name":"Set user text to payload","func":"msg.payload = msg.text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":950,"y":840,"wires":[["d2208fca.5c923"]]},{"id":"ea60df6b.0da04","type":"function","z":"1783749d.eafb2b","name":"Set Dialogflow responce to msg.answer","func":"msg.answer = msg._dialogflow.fulfillmentText;\nmsg.intent = msg._dialogflow.intent.displayName;\n//msg.prevState = msg.user.state;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1460,"y":840,"wires":[["724a201a.6221b"]]},{"id":"724a201a.6221b","type":"function","z":"1783749d.eafb2b","name":"","func":"msg.intent = msg._dialogflow.intent.displayName;\nif(msg.intent === \"Greetings\") {\n    msg.state = \"welcome\"\n}\nelse msg.state = \"no intent\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1720,"y":840,"wires":[["47a64a20.9323c4"]]},{"id":"10db9f70.153721","type":"function","z":"1783749d.eafb2b","name":"","func":"msg.answer = `The word ${msg.text} that means`\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1860,"y":780,"wires":[[]]},{"id":"24eeff37.62aab","type":"function","z":"1783749d.eafb2b","name":"helloArtistMenu","func":"msg.url = \"http://localhost:3000/sendMessage\";\nmsg.method = \"POST\";\nmsg.payload = {\n    chat_id: msg.chat_id,\n    lang: msg.lang,\n    templateName: \"helloArtistMenu\",\n    /*templateVars: {\n\t   name: msg.text\n\n\t}*/\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2520,"y":820,"wires":[["91b1b352.49d08"]]},{"id":"91b1b352.49d08","type":"http request","z":"1783749d.eafb2b","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":2710,"y":820,"wires":[["ba0eb038.426ed"]]},{"id":"47a64a20.9323c4","type":"switch","z":"1783749d.eafb2b","name":"","property":"state","propertyType":"msg","rules":[{"t":"eq","v":"welcome","vt":"str"},{"t":"eq","v":"no intent","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":1870,"y":840,"wires":[["7b053bba.e92684","dac28943.79b798"],["a51e1aad.a6ed98"],["92ce583d.c30878"]]},{"id":"7b053bba.e92684","type":"function","z":"1783749d.eafb2b","name":"","func":"msg.url = \"http://localhost:3001/user\";\nmsg.method = \"POST\";\nmsg.payload = {\n    chat_id: msg.chat_id,\n    nickname: msg.text,\n    \n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2160,"y":820,"wires":[["6db25e.55a70da4"]]},{"id":"6db25e.55a70da4","type":"http request","z":"1783749d.eafb2b","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":2330,"y":820,"wires":[["24eeff37.62aab"]]},{"id":"dac28943.79b798","type":"debug","z":"1783749d.eafb2b","name":"1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2150,"y":940,"wires":[]},{"id":"a51e1aad.a6ed98","type":"debug","z":"1783749d.eafb2b","name":"2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2150,"y":980,"wires":[]},{"id":"92ce583d.c30878","type":"debug","z":"1783749d.eafb2b","name":"3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2150,"y":1020,"wires":[]},{"id":"ba0eb038.426ed","type":"debug","z":"1783749d.eafb2b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2710,"y":880,"wires":[]},{"id":"9df8dab4.357528","type":"debug","z":"1783749d.eafb2b","name":"Dialogflow","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1420,"y":900,"wires":[]},{"id":"bdb31dba.87dd6","type":"function","z":"fa8df506.b0c4c8","name":"contactWithAdministrator","func":"msg.url = \"http://localhost:3000/sendMessage\";\nmsg.method = \"POST\";\nmsg.payload = {\n    chat_id: msg.chat_id,\n    lang: msg.lang,\n    templateName: \"contactWithAdministrator\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1090,"y":320,"wires":[["6361cb84.64e4b4"]]},{"id":"6361cb84.64e4b4","type":"http request","z":"fa8df506.b0c4c8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1290,"y":320,"wires":[["546a85e7.a6aa5c"]]},{"id":"546a85e7.a6aa5c","type":"function","z":"fa8df506.b0c4c8","name":"set state","func":"msg.url = \"http://localhost:3001/user\";\nmsg.method = \"POST\";\nmsg.payload = {  \n    chat_id: msg.chat_id,\n    state: \"contactWithAdministrator\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1480,"y":320,"wires":[["30184f73.88835"]]},{"id":"30184f73.88835","type":"http request","z":"fa8df506.b0c4c8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1650,"y":320,"wires":[[]]},{"id":"fd459470.d19b88","type":"link out","z":"1783749d.eafb2b","name":"to contact with administrator","links":["fef42953.9d5678"],"x":1040,"y":800,"wires":[],"l":true},{"id":"dcaa2f64.ac36d","type":"dialogflowv2","z":"d043a9c8.5c1ca8","dialogflow":"f13711e4.d179d","language":"uk","debug":false,"queryParamsOK":false,"x":560,"y":260,"wires":[["4d1c62bc.aaca2c","d08235b4.2865d8"]]},{"id":"cc4db6d6.d44598","type":"function","z":"d043a9c8.5c1ca8","name":"Set user text to payload","func":"msg.payload = msg.text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":260,"wires":[["dcaa2f64.ac36d"]]},{"id":"4d1c62bc.aaca2c","type":"function","z":"d043a9c8.5c1ca8","name":"Set Dialogflow responce to msg.answer","func":"msg.answer = msg._dialogflow.fulfillmentText;\nmsg.intent = msg._dialogflow.intent.displayName;\n//msg.prevState = msg.user.state;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":260,"wires":[["6b9157d6.15f4a8"]]},{"id":"6b9157d6.15f4a8","type":"function","z":"d043a9c8.5c1ca8","name":"","func":"msg.intent = msg._dialogflow.intent.displayName;\nif(msg.intent === \"Greetings\") {\n    msg.state = \"nlp_welcome\"\n}\nelse if(msg.intent === \"Додати категорію\") {\n    msg.state = \"nlp_addCategory\"\n}\nelse if(msg.intent === \"Кількість на рекламу\") {\n    msg.state = \"nlp_quantityForAdvertising\"\n}\nelse if(msg.intent === \"Не публікується\") {\n    msg.state = \"nlp_notPublishing\"\n}\nelse if(msg.intent === \"Не публікується - yes\") {\n    msg.state = \"nlp_notPublishing_yes\"\n}\nelse if(msg.state == \"nlp_notPublishing\") {\n    msg.intent === \"Не публікується - yes\";\n    msg.state = \"nlp_notPublishing_yes\"\n}\nelse if(msg.intent === \"Не рекламується\") {\n    msg.state = \"nlp_notAdvertising\"\n}\nelse if(msg.intent === \"Охоплення поста\") {\n    msg.state = \"nlp_сoverageOfPost\"\n}\nelse if(msg.intent === \"Попит\") {\n    msg.state = \"nlp_demand\"\n}\nelse if(msg.intent === \"Реклама\") {\n    msg.state = \"nlp_advertising\"\n}\nelse if(msg.intent === \"Час реклами\") {\n    msg.state = \"nlp_advertisingTime\"\n}\nelse if(msg.intent === \"Що публікується\") {\n    msg.state = \"nlp_whatIsPublishing\"\n}\nelse if(msg.intent === \"Що рекламується\") {\n    msg.state = \"nlp_whatIsAdvertising\"\n}\nelse if(msg.intent === \"До побачення\") {\n    msg.state = \"nlp_goodbye\"\n}\nelse if(msg.intent === \"Підтвердження\") {\n    msg.state = \"nlp_yes\"\n}\nelse if(msg.intent === \"Заперечення\") {\n    msg.state = \"nlp_no\"\n}\nelse if(msg.intent === \"Default Fallback Intent\") {\n    msg.state = \"nlp_noIntent\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":260,"wires":[["7e57bc86.0134f4"]]},{"id":"27dff003.7dcc7","type":"function","z":"d043a9c8.5c1ca8","name":"helloArtistMenu","func":"msg.url = \"http://localhost:3000/sendMessage\";\nmsg.method = \"POST\";\nmsg.payload = {\n    chat_id: msg.chat_id,\n    lang: msg.lang,\n    templateName: \"helloArtistMenu\",\n    /*templateVars: {\n\t   name: msg.text\n\n\t}*/\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1900,"y":240,"wires":[["1b3794af.d6f30b"]]},{"id":"1b3794af.d6f30b","type":"http request","z":"d043a9c8.5c1ca8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":2090,"y":240,"wires":[["5342f48b.c3f3fc"]]},{"id":"7e57bc86.0134f4","type":"switch","z":"d043a9c8.5c1ca8","name":"","property":"state","propertyType":"msg","rules":[{"t":"eq","v":"nlp_welcome","vt":"str"},{"t":"eq","v":"nlp_addCategory","vt":"str"},{"t":"eq","v":"nlp_quantityForAdvertising","vt":"str"},{"t":"eq","v":"nlp_notPublishing","vt":"str"},{"t":"eq","v":"nlp_notPublishing_yes","vt":"str"},{"t":"eq","v":"nlp_notAdvertising","vt":"str"},{"t":"eq","v":"nlp_сoverageOfPost","vt":"str"},{"t":"eq","v":"nlp_demand","vt":"str"},{"t":"eq","v":"nlp_advertising","vt":"str"},{"t":"eq","v":"nlp_advertisingTime","vt":"str"},{"t":"eq","v":"nlp_whatIsPublishing","vt":"str"},{"t":"eq","v":"nlp_whatIsAdvertising","vt":"str"},{"t":"eq","v":"nlp_yes","vt":"str"},{"t":"eq","v":"nlp_noIntent","vt":"str"},{"t":"eq","v":"nlp_goodbye","vt":"str"},{"t":"eq","v":"nlp_no","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":17,"x":1270,"y":260,"wires":[["dbf17055.b6882","dc4c550e.d524c8"],["4cf5d51c.ab67ec","dc4c550e.d524c8"],["dc4c550e.d524c8"],["dc4c550e.d524c8"],["dc4c550e.d524c8"],["dc4c550e.d524c8"],["dc4c550e.d524c8"],["dc4c550e.d524c8"],["dc4c550e.d524c8"],["dc4c550e.d524c8"],["dc4c550e.d524c8"],["dc4c550e.d524c8"],["dc4c550e.d524c8"],["dc4c550e.d524c8"],["d36e9ff8.36193"],["d36e9ff8.36193"],["5a3cb19b.1681d","d36e9ff8.36193"]]},{"id":"ebc0df1d.55ca5","type":"function","z":"d043a9c8.5c1ca8","name":"","func":"msg.url = \"http://localhost:3001/user\";\nmsg.method = \"POST\";\nmsg.payload = {\n    chat_id: msg.chat_id,\n    nickname: msg.text,\n    \n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1540,"y":240,"wires":[["1af8eb1f.c48bf5"]]},{"id":"1af8eb1f.c48bf5","type":"http request","z":"d043a9c8.5c1ca8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1710,"y":240,"wires":[["27dff003.7dcc7"]]},{"id":"dbf17055.b6882","type":"debug","z":"d043a9c8.5c1ca8","name":"1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1530,"y":200,"wires":[]},{"id":"4cf5d51c.ab67ec","type":"debug","z":"d043a9c8.5c1ca8","name":"2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1530,"y":260,"wires":[]},{"id":"5a3cb19b.1681d","type":"debug","z":"d043a9c8.5c1ca8","name":"3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1530,"y":560,"wires":[]},{"id":"5342f48b.c3f3fc","type":"debug","z":"d043a9c8.5c1ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2250,"y":240,"wires":[]},{"id":"d08235b4.2865d8","type":"debug","z":"d043a9c8.5c1ca8","name":"Dialogflow","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":800,"y":320,"wires":[]},{"id":"fef42953.9d5678","type":"link in","z":"d043a9c8.5c1ca8","name":"","links":["fd459470.d19b88"],"x":155,"y":260,"wires":[["cc4db6d6.d44598"]]},{"id":"71423918.99c328","type":"http request","z":"d043a9c8.5c1ca8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":2050,"y":340,"wires":[["5ce2b564.d6ef8c"]]},{"id":"dc4c550e.d524c8","type":"function","z":"d043a9c8.5c1ca8","name":"","func":"msg.url = \"http://localhost:3001/user\";\nmsg.method = \"POST\";\n\nmsg.payload = {\n    chat_id: msg.chat_id,\n    \n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1540,"y":340,"wires":[["4499c47.65b163c"]]},{"id":"4499c47.65b163c","type":"http request","z":"d043a9c8.5c1ca8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1710,"y":340,"wires":[["35c9f28c.3c49fe"]]},{"id":"35c9f28c.3c49fe","type":"function","z":"d043a9c8.5c1ca8","name":"","func":"msg.url = \"https://api.telegram.org/bot1642349293:AAFs_rRylHYO5VWf0uJe-A897aBfjtoJdu8/sendMessage\";\nmsg.method = \"POST\";\n\nlet answ = msg.answer.split(\"\\n\")\n\nif(msg.lang == \"uk\") {\n    msg.answ = answ[0]\n}\nelse if(msg.lang == \"ru\") {\n    msg.answ = answ[1]\n}\nelse msg.answ = answ[2]\n\nmsg.payload = {\n    \"text\": msg.answ,\n    \"chat_id\": msg.chat_id,\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1880,"y":340,"wires":[["71423918.99c328"]]},{"id":"5ce2b564.d6ef8c","type":"debug","z":"d043a9c8.5c1ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2210,"y":340,"wires":[]},{"id":"d36e9ff8.36193","type":"function","z":"d043a9c8.5c1ca8","name":"","func":"msg.url = \"http://localhost:3001/user\";\nmsg.method = \"POST\";\n\nmsg.payload = {\n    chat_id: msg.chat_id,\n    \n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1540,"y":420,"wires":[["85a7a0f4.2a4e7"]]},{"id":"85a7a0f4.2a4e7","type":"http request","z":"d043a9c8.5c1ca8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1710,"y":420,"wires":[["d01d7e3a.26dcd"]]},{"id":"d01d7e3a.26dcd","type":"function","z":"d043a9c8.5c1ca8","name":"helloArtistMenu","func":"msg.url = \"http://localhost:3000/sendMessage\";\nmsg.method = \"POST\";\nmsg.payload = {\n    chat_id: msg.chat_id,\n    lang: msg.lang,\n    templateName: \"artistMenu\",\n    /*templateVars: {\n\t   name: msg.text\n\n\t}*/\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1900,"y":420,"wires":[["4036ad05.4c6f74"]]},{"id":"4036ad05.4c6f74","type":"http request","z":"d043a9c8.5c1ca8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":2090,"y":420,"wires":[["21aea56c.832d9a"]]},{"id":"21aea56c.832d9a","type":"debug","z":"d043a9c8.5c1ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2250,"y":420,"wires":[]},{"id":"b12064f.c0aa598","type":"inject","z":"116704c1.2aeebb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":340,"wires":[["4773f1a5.b7ed4"]]},{"id":"4773f1a5.b7ed4","type":"function","z":"116704c1.2aeebb","name":"","func":"msg.method = \"POST\";\nmsg.payload = {\n    \"url\": \"https://796ca8d04c87.ngrok.io/webhook\"\n};\nmsg.url = \"https://api.telegram.org/bot1642349293:AAFs_rRylHYO5VWf0uJe-A897aBfjtoJdu8/setWebhook\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":340,"wires":[["9fb23ebd.08867"]]},{"id":"9fb23ebd.08867","type":"http request","z":"116704c1.2aeebb","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":340,"wires":[["19e9ed14.ec7033"]]},{"id":"19e9ed14.ec7033","type":"debug","z":"116704c1.2aeebb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":590,"y":340,"wires":[]},{"id":"b87285a5.f47698","type":"function","z":"fa8df506.b0c4c8","name":"","func":"msg.url = \"http://localhost:3002/picture\";\nmsg.method = \"POST\";\nmsg.payload = {\n    id: msg.payload.settings.picture_id,\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":1040,"wires":[["295e2ab1.a37576"]]},{"id":"295e2ab1.a37576","type":"http request","z":"fa8df506.b0c4c8","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":750,"y":1040,"wires":[["abf1132b.64236","d96b54ad.232848"]]},{"id":"d96b54ad.232848","type":"function","z":"fa8df506.b0c4c8","name":" save picture","func":"msg.picture = msg.payload;\nconst hashtags = msg.picture.Hashtags.map(hashtag => {return hashtag.tag; });\nmsg.picture.hashtags = hashtags.join(\"#\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":1060,"wires":[["d9aaf52d.e98948"]]},{"id":"abf1132b.64236","type":"debug","z":"fa8df506.b0c4c8","name":"oooooooo","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":930,"y":1020,"wires":[]},{"id":"ed5465ba.fe0468","type":"function","z":"fa8df506.b0c4c8","name":"","func":"msg.url = \"http://localhost:3002/hashtags\";\nmsg.method = \"POST\";\nmsg.payload = {\n  picture_id: msg.settings.picture_id, \n  hashtags: msg.hashtags,\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":1320,"wires":[["d8c2c74f.056d88"]]}]