flows.json
[{"id":"116704c1.2aeebb","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"87e8bbd9.9b7488","type":"http in","z":"116704c1.2aeebb","name":"","url":"/webhook","method":"post","upload":false,"swaggerDoc":"","x":140,"y":120,"wires":[["9278ee7a.39687","d169bebe.423ef","9f05c756.bec1e8"]]},{"id":"d169bebe.423ef","type":"debug","z":"116704c1.2aeebb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":110,"y":80,"wires":[]},{"id":"9278ee7a.39687","type":"http response","z":"116704c1.2aeebb","name":"","statusCode":"200","headers":{},"x":160,"y":160,"wires":[]},{"id":"9f05c756.bec1e8","type":"function","z":"116704c1.2aeebb","name":"","func":"if (msg.payload && msg.payload.callbak_query) {\n    msg.text = msg.payload.callbak_query.data;\n    msg.chat_id = msg.payload.callbak_query.from.id;\n}\n\nif (msg.payload && msg.payload.message) {\n    msg.text = msg.payload.message.text;\n    msg.chat_id = msg.payload.message.from.id;\n}\n\nmsg.originalMessage = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":120,"wires":[["546bd26.79bc02c"]]},{"id":"546bd26.79bc02c","type":"switch","z":"116704c1.2aeebb","name":"","property":"text","propertyType":"msg","rules":[{"t":"eq","v":"/start","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":120,"wires":[["54cf2c23.7f9294"]]},{"id":"ac618488.8146c8","type":"http request","z":"116704c1.2aeebb","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":810,"y":100,"wires":[[]]},{"id":"54cf2c23.7f9294","type":"function","z":"116704c1.2aeebb","name":"","func":"msg.url = \"http://localhost:3000/sendMessage\";\nmsg.method = \"POST\";\nmsg.payload = {\n    chat_id: msg.chat_id,\n    templateName: \"chooseLanguage\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":120,"wires":[["ac618488.8146c8"]]}]